

#img{
	position: center;
}
#body{
	background-color: #98FB98;
}
#content{
	font-family: 'Playfair Display', serif;
	text-align: center;
	padding-bottom:0%;
	padding-right: 50%;
		color:	white;
	font-weight: 1000%;
	font-size: 3em;
	
	
}


#heading{
	font-family: 'Acme', sans-serif;
	color: #3CB371;
}
#cont1{
	font-family: 'Dancing Script', cursive;
	text-align: center;
	color: white;
	font-weight: 1000%;
	padding-bottom:0%;
	font-family: 'Lobster', cursive;
	padding-left: 60%;
	
	}
#cont2{
	font-family: 'Dancing Script', cursive;
		text-align: center;
	padding-bottom:0%;
		color: white;
		font-weight: 1000%;
		padding-left: 30%;
		font-family: 'Lobster', cursive;


		}
#card{
			padding-top: 30em;
			max-width: 800px;
		}
#card1{
	max-width: 800px;
		}

		/* sample*/
		/*
		.dropbtn {
			background-color: #4CAF50;
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
		  }
		  
		  .dropdown {
			position: relative;
			display: inline-block;
		  }
		  
		  .dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		  }
		  
		  .dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		  }
		  
		  .dropdown-content a:hover {background-color: #f1f1f1}
		  
		  .dropdown:hover .dropdown-content {
			display: block;
		  }
		  
		  .dropdown:hover .dropbtn {
			background-color: #3e8e41;

*/